<!-- 
  Note: This file is used only for checking traffic when redirecting visitors from the old Helm Charts docs site hosted in this repository to a page that gives users the option to go to the ScalarDB, ScalarDB Community, or ScalarDL docs site. This file can be deleted after the old Helm Charts docs site hosted in this repository is no longer deployed.
-->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{ site.google_analytics }}');
</script>