{{- if not .Values.envoy.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "scalardl.fullname" . }}-endpoint
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "scalardl-ledger.labels" . | nindent 4 }}
  annotations:
    {{- toYaml .Values.ledger.service.annotations | nindent 4 }}
spec:
  type: {{ .Values.ledger.service.type }}
  sessionAffinity: None
  ports:
  {{- range $key, $value := .Values.ledger.service.ports }}
  {{- if or (eq $key "scalardl") (eq $key "scalardl-priv") }}
    - name: {{ $key }}
      {{- toYaml $value | nindent 6 }}
  {{- end }}
  {{- end }}
  selector:
    {{- include "scalardl-ledger.selectorLabels" . | nindent 4 }}
{{- end }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ include "scalardl.fullname" . }}-headless
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "scalardl-ledger.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  clusterIP: None
  sessionAffinity: None
  ports:
  {{- range $key, $value := .Values.ledger.service.ports }}
    - name: {{ $key }}
      {{- toYaml $value | nindent 6 }}
  {{- end }}
  selector:
    {{- include "scalardl-ledger.selectorLabels" . | nindent 4 }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ include "scalardl.fullname" . }}-metrics
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "scalardl-ledger.labels" . | nindent 4 }}
spec:
  ports:
  - name: scalardl-prometheus
    port: 8080
    targetPort: 8080
    protocol: TCP
  selector:
    {{- include "scalardl-ledger.selectorLabels" . | nindent 4 }}
  type: ClusterIP
