global:
  envoy:
    enabled: false

prometheus:
  enabled: true

  commonMetaLabels:
    app.kubernetes.io/app: "scalardb-cluster-monitoring"

  server:
    releaseNamespace: true
    affinity: {}
    service:
      enabled: true
      type: "ClusterIP"
      servicePort: 9090
    containerSecurityContext:
      capabilities:
        drop:
          - ALL
      allowPrivilegeEscalation: false

  configmapReload:
    prometheus:
      containerSecurityContext:
        capabilities:
          drop:
            - ALL
        allowPrivilegeEscalation: false

  serverFiles:
    prometheus.yml:
      scrape_configs: []

  extraScrapeConfigs: |
    {{ include "scalardb-cluster-monitoring.prometheusExtraScrapeConfig" . }}

  alertmanager:
    enabled: false
  kube-state-metrics:
    enabled: true
    customLabels:
      app.kubernetes.io/app: "scalardb-cluster-monitoring"
    releaseNamespace: true
    rbac:
      useClusterRole: false
  prometheus-node-exporter:
    enabled: false
  prometheus-pushgateway:
    enabled: false

grafana:
  enabled: true

  extraLabels:
    app.kubernetes.io/app: "scalardb-cluster-monitoring"

  service:
    type: ClusterIP
    port: 3000

  sidecar:
    datasources:
      enabled: true
      label: grafana_datasource
      labelValue: "1"
    dashboards:
      enabled: true
      label: grafana_dashboard
      labelValue: "1"

  datasources:
    datasources.yaml:
      apiVersion: 1
      datasources:
        - name: Prometheus
          type: prometheus
          uid: prometheus
          url: http://{{ .Release.Name }}-prometheus-server:9090/
          access: proxy
          editable: false
          isDefault: false
          jsonData:
            timeInterval: 30s
        - name: Loki
          type: loki
          uid: loki
          url: http://{{ .Release.Name }}-loki:3100/
          access: proxy
          editable: false
          isDefault: false

  testFramework:
    securityContext:
      seccompProfile:
        type: RuntimeDefault
      runAsNonRoot: true
    containerSecurityContext:
      capabilities:
        drop:
          - ALL
      allowPrivilegeEscalation: false

loki:
  enabled: true

  loki:
    podLabels:
      app.kubernetes.io/app: "scalardb-cluster-monitoring"
    auth_enabled: false
    extraMemberlistConfig:
      bind_addr:
        - ${MY_POD_IP}
    commonConfig:
      replication_factor: 1
    schemaConfig:
      configs:
        - from: "2024-04-01"
          store: tsdb
          object_store: s3
          schema: v13
          index:
            prefix: loki_index_
            period: 24h
    pattern_ingester:
      enabled: true
    limits_config:
      retention_period: 720h
      discover_service_name: []
    compactor:
      retention_enabled: true
      delete_request_store: s3

  deploymentMode: SingleBinary

  singleBinary:
    replicas: 1
    extraArgs:
      - -config.expand-env=true
    extraEnv:
      - name: MY_POD_IP
        valueFrom:
          fieldRef:
            fieldPath: status.podIP

  minio:
    enabled: true
    additionalLabels:
      app.kubernetes.io/app: "scalardb-cluster-monitoring"
    podLabels:
      app.kubernetes.io/app: "scalardb-cluster-monitoring"
    containerSecurityContext:
      readOnlyRootFilesystem: false
      capabilities:
        drop:
          - ALL
      allowPrivilegeEscalation: false
    postJob:
      securityContext:
        enabled: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
    makeBucketJob:
      securityContext:
        enabled: true
      containerSecurityContext:
        runAsUser: 1000
        runAsGroup: 1000
        capabilities:
          drop:
            - ALL
        allowPrivilegeEscalation: false
    makeUserJob:
      securityContext:
        enabled: true
      containerSecurityContext:
        runAsUser: 1000
        runAsGroup: 1000
        capabilities:
          drop:
            - ALL
        allowPrivilegeEscalation: false

  test:
    enabled: false
  lokiCanary:
    enabled: false
  gateway:
    enabled: false
  resultsCache:
    enabled: false
  chunksCache:
    enabled: false

  backend:
    replicas: 0
  read:
    replicas: 0
  write:
    replicas: 0
  ingester:
    replicas: 0
  querier:
    replicas: 0
  queryFrontend:
    replicas: 0
  queryScheduler:
    replicas: 0
  distributor:
    replicas: 0
  compactor:
    replicas: 0
  indexGateway:
    replicas: 0
  bloomCompactor:
    replicas: 0
  bloomGateway:
    replicas: 0

alloy:
  enabled: true

  global:
    podSecurityContext:
      seccompProfile:
        type: RuntimeDefault

  controller:
    podLabels:
      app.kubernetes.io/app: "scalardb-cluster-monitoring"
      container.kubeaudit.io/alloy.allow-run-as-root: ""
    type: "deployment"
    replicas: 1

  configReloader:
    securityContext:
      capabilities:
        drop:
          - ALL
      allowPrivilegeEscalation: false
      runAsNonRoot: true

  alloy:
    securityContext:
      capabilities:
        drop:
          - ALL
      allowPrivilegeEscalation: false
    configMap:
      content: |
        {{ include "scalardb-cluster-monitoring.alloyContent" . }}
