apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ include "scalar-manager.fullname" . }}
  labels:
    {{- include "scalar-manager.labels" . | nindent 4 }}
subjects:
  - kind: ServiceAccount
    name: {{ include "scalar-manager.serviceAccountName" . }}
    namespace: {{ .Release.Namespace }}
    apiGroup: ""
roleRef:
  kind: ClusterRole
  name: {{ include "scalar-manager.fullname" . }}
  apiGroup: rbac.authorization.k8s.io

{{- if .Values.scalarManager.headlamp.enabled }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ include "scalar-manager.fullname" . }}-headlamp-view
  labels:
    {{- include "scalar-manager.labels" . | nindent 4 }}
subjects:
  - kind: ServiceAccount
    name: {{ include "scalar-manager.headlampServiceAccountName" . }}
    namespace: {{ .Release.Namespace }}
    apiGroup: ""
roleRef:
  kind: ClusterRole
  name: view
  apiGroup: rbac.authorization.k8s.io
{{- end }}
