{{- if not .Values.scalarManager.serviceAccount.serviceAccountName }}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "scalar-manager.serviceAccountName" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "scalar-manager.labels" . | nindent 4 }}
{{- end }}
{{- if and .Values.scalarManager.headlamp.enabled .Values.scalarManager.headlamp.serviceAccount.create }}
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "scalar-manager.headlampServiceAccountName" . }}
  namespace: {{ include "scalar-manager.headlampServiceAccountNamespace" . }}
  labels:
    {{- include "scalar-manager.labels" . | nindent 4 }}
    app.kubernetes.io/component: headlamp
{{- end }}
