{{- if not .Values.scalarManager.serviceAccount.serviceAccountName }}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "scalar-manager.serviceAccountName" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "scalar-manager.labels" . | nindent 4 }}
{{- end }}
{{- if .Values.scalarManager.headlamp.enabled }}
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "scalar-manager.headlampServiceAccountName" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "scalar-manager.labels" . | nindent 4 }}
    app.kubernetes.io/component: headlamp
{{- end }}
