{{- if not .Values.envoy.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "scalardb-cluster.fullname" . }}-endpoint
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "scalardb-cluster.labels" . | nindent 4 }}
  annotations:
    {{- toYaml .Values.scalardbCluster.service.annotations | nindent 4 }}
spec:
  type: {{ .Values.scalardbCluster.service.type }}
  sessionAffinity: None
  ports:
  {{- range $key, $value := .Values.scalardbCluster.service.ports }}
    - name: {{ $key }}
      {{- toYaml $value | nindent 6 }}
  {{- end }}
  selector:
    {{- include "scalardb-cluster.selectorLabels" . | nindent 4 }}
{{- end }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ include "scalardb-cluster.fullname" . }}-headless
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "scalardb-cluster.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  clusterIP: None
  sessionAffinity: None
  ports:
  {{- range $key, $value := .Values.scalardbCluster.service.ports }}
    - name: {{ $key }}
      {{- toYaml $value | nindent 6 }}
  {{- end }}
  selector:
    {{- include "scalardb-cluster.selectorLabels" . | nindent 4 }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ include "scalardb-cluster.fullname" . }}-metrics
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "scalardb-cluster.labels" . | nindent 4 }}
spec:
  ports:
  - name: scalardb-cluster-prometheus
    port: 9080
    targetPort: 9080
    protocol: TCP
  selector:
    {{- include "scalardb-cluster.selectorLabels" . | nindent 4 }}
  type: ClusterIP
---
{{- if .Values.scalardbCluster.graphql.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "scalardb-cluster.fullname" . }}-graphql
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "scalardb-cluster.labels" . | nindent 4 }}
  annotations:
{{ toYaml .Values.scalardbCluster.graphql.service.annotations | indent 4 }}
spec:
  type: {{ .Values.scalardbCluster.graphql.service.type }}
  ports:
  {{- range $key, $value := .Values.scalardbCluster.graphql.service.ports }}
    - name: {{ $key }}
{{ toYaml $value | indent 6 }}
  {{- end }}
  selector:
    {{- include "scalardb-cluster.selectorLabels" . | nindent 4 }}
{{- end }}
