apiVersion: v1
kind: ConfigMap
metadata:
  name: scalardl-ledger-grafana-dashboard
  namespace: {{ .Release.Namespace }}
  labels:
    grafana_dashboard: "1"
    {{- include "scalardl-ledger-monitoring.labels" . | nindent 4 }}
data:
{{- range $path, $_ :=  .Files.Glob  "files/grafana/scalardl_ledger_*.json" }}
  {{ $path | base }}: |-
{{ $.Files.Get $path | indent 4 }}
{{- end }}
---
{{- if .Values.global.envoy.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: scalar-envoy-grafana-dashboard
  namespace: {{ .Release.Namespace }}
  labels:
    grafana_dashboard: "1"
    {{- include "scalardl-ledger-monitoring.labels" . | nindent 4 }}
data:
{{- range $path, $_ :=  .Files.Glob  "files/grafana/scalar_envoy_*.json" }}
  {{ $path | base }}: |-
{{ $.Files.Get $path | indent 4 }}
{{- end }}
{{- end }}
